{% extends "PlayWithElasticSearchBundle:Playlists:base.html.twig" %}

{% block title "Available Playlists" %}

{% block content %}

<form class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Playlist name</label>
        <input type="text" class="form-control" id="playlist_name" name="playlist_name" value="{{ playlist_name }}" placeholder="Movies, Audiobooks...">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">With Track</label>
        <input type="text" class="form-control" id="track_name" name="track_name" value="{{ track_name }}" placeholder="Fast As a Shark, Snowballed...">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Composer</label>
        <input type="text" class="form-control" id="composer" name="composer" value="{{ composer }}" placeholder="Alanis Morissette, Malcolm Young, Brian Johnson...">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<hr />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Playlist name</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
        <tr>
            <td>{{ playlist.id }}</td>
            <td><a href="{{ path("app_playlist_tracks", { "playListId": playlist.id }) }}"><strong>{{ playlist.name }}</strong></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}