{% extends "PlayWithElasticSearchBundle:Playlists:index.html.twig" %}

{% block page_header_title track.name|capitalize %}
{% block page_header_subtitle "track details" %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <dl>
                <dt>Name</dt>
                <dd>{{ track.name }}</dd>

                <dt>Album title</dt>
                <dd>{{ track.album.title }}</dd>

                <dt>Media Type</dt>
                <dd>{{ track.mediaType.name }}</dd>

                <dt>Genre</dt>
                <dd>{{ track.genre.name }}</dd>

                <dt>Composer</dt>
                <dd>{{ track.composer }}</dd>

                <dt>Milliseconds</dt>
                <dd>{{ track.milliseconds }}</dd>

                <dt>Bytes</dt>
                <dd>{{ track.bytes }}</dd>

                <dt>Unit Price</dt>
                <dd>{{ track.unitPrice }}</dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <h5>Other songs in album <i>"{{ track.album.title }}"</i></h5>
            <ol>
                {% for track in albumTracks %}
                    <li>{{ track.name }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}